*.pptx
~*
.*
*.zip
*.csv
*.db
Week04/labs/lab04-possible answers.ipynb
Week05/labs/week5_lab-possible answers.ipynb
Week06/data-text.csv
Week06/data-text.json
Week06/world_cup.csv
Week06/world_cup.zip
Week06/my_csv_file.csv
Week06/names.csv
Week06/PoliceShootingsUS.csv
Week06/some_file.txt
Week06/some_other_file.txt
Week06/labs/volunteers.txt
Week08/homework/_create data.ipynb
